<div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title hidden-xs">{{ currentUser }}</span>

      <img routerLink="/" class="logo-image" alt="Logo" src="{{ utilService.imagePath('logo.png') }}">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a *ngIf="!currentUser" class="mdl-navigation__link" routerLink="/login">Login</a>
        <a *ngIf="currentUser" (click)="logout()" class="mdl-navigation__link">Logout</a>
        <a *ngIf="!currentUser" class="mdl-navigation__link" routerLink="/register">Register</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ currentUser }}</span>
    <nav class="mdl-navigation">
      <a (click)="toggleMaterialDrawer()" *ngFor="let game of games" class="mdl-navigation__link" routerLink="/tournaments/{{ game.id }}/{{ game.shortName }}">
        <i class="material-icons">label_important</i> {{ game.shortName }} Tournaments
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="container">
        <div class="row page-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>

